<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comfy Resto</title>
    <link
      rel="shortcut icon"
      href="../assets/icons/restaurant.svg"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav-bar></nav-bar>
    <jumbo-header></jumbo-header>
    <main>
      <section class="content-section">
        <div class="content-container">
          <div class="most-visited">
            <h2 class="most-visited-label">Most Visited Restaurants</h2>
            <p class="most-visited-caption">
              Discover top rated restaurants, cafes, and bars
            </p>
            <restaurant-list></restaurant-list>
            <!-- <div class="restaurants-list content-center">
              <article class="restaurants-item restaurants">
                <img
                  class="restaurants-image"
                  src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41"
                  alt="restaurants-image-thumbnail"
                />
                <div class="restaurants-item-content">
                  <button
                    class="restaurants-show-modal-button"
                    aria-label="intip restaurant"
                  >
                    intip
                  </button>
                  <a href="#" class="restaurants-name">Bring Your Phone Cafe</a>
                  <p class="restaurants-city">Medan</p>
                  <div class="restaurants-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span class="restaurants-rating-number">2</span>
                  </div>
                </div>
              </article>
              <article class="restaurants-item restaurants">
                <img
                  class="restaurants-image"
                  src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41"
                  alt="restaurants-image-thumbnail"
                />
                <div class="restaurants-item-content">
                  <button
                    class="restaurants-show-modal-button"
                    aria-label="intip restaurant"
                  >
                    intip
                  </button>
                  <a href="#" class="restaurants-name">Bring Your Phone Cafe</a>
                  <p class="restaurants-city">Medan</p>
                  <div class="restaurants-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span class="restaurants-rating-number">2</span>
                  </div>
                </div>
              </article>
              <article class="restaurants-item restaurants">
                <img
                  class="restaurants-image"
                  src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41"
                  alt="restaurants-image-thumbnail"
                />
                <div class="restaurants-item-content">
                  <button
                    class="restaurants-show-modal-button"
                    aria-label="intip restaurant"
                  >
                    intip
                  </button>
                  <a href="#" class="restaurants-name">Bring Your Phone Cafe</a>
                  <p class="restaurants-city">Medan</p>
                  <div class="restaurants-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span class="restaurants-rating-number">2</span>
                  </div>
                </div>
              </article>
            </div> -->
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
