<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Web application that provide list of restaurants"
    />
    <meta name="keywords" content="ComfyResto" />
    <meta name="theme-color" content="#4c51bf" />
    <title>Comfy Resto</title>
    <link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="./assets/icons/icon-192x192.png" />
    <link rel="manifest" href="./assets/manifest.json" />
  </head>
  <body>
    <skip-to-content></skip-to-content>
    <nav-bar></nav-bar>
    <main id="mainContent"></main>
    <loading-indicator></loading-indicator>
    <footer-el></footer-el>
  </body>
</html>
