@media screen and (min-width: 600px) {

  /* NavBar */

  .navbar-menu {
    display: none;
  }

  .navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    padding: 0;
    transform: translateY(0);
    width: 300px;
    position: unset;
    z-index: 0;
  }

  .navbar-list .navbar-item a::after {
    top: 45px;
  }

  /* JumboHeader */

  .header-big {
    height: 350px;
  }

  .header-big::after {
    height: 350px;
  }

  .banner-title {
    font-size: 52px;
  }
}
