@media screen and (min-width: 600px) {
  /* NavBar */

  .navbar-menu {
    display: none;
  }

  .navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    padding: 0;
    transform: translateY(0);
    width: 300px;
    position: unset;
    z-index: 0;
  }

  .navbar-list .navbar-item a::after {
    top: 55px;
  }

  /* JumboHeader */

  .header-big {
    height: 400px;
  }

  .header-big::after {
    height: 400px;
  }

  .header-big-title {
    font-size: 52px;
  }

  /* MainContent */

  .content-outer {
    max-width: 1200px;
  }

  .content-inner-label {
    font-size: 32px;
  }

  .content-inner-caption {
    font-size: 24px;
  }

  .content-center {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  }

  .restaurants-show-modal-button {
    font-size: var(--mainSize);
  }

  .restaurants-name {
    font-size: 24px;
  }

  .restaurants-city {
    font-size: 20px;
  }

  .restaurants-rating i {
    font-size: var(--mainSize);
  }

  .restaurants-rating-number {
    font-size: var(--mainSize);
  }

  /* ModalComponent */

  .restaurants-close-modal-button {
    font-size: var(--mainSize);
  }

  .restaurants-modal-title {
    font-size: 22px;
  }

  .restaurants-modal-text-description {
    font-size: var(--mainSize);
  }

  /* RestaurantDetailComponent */

  .restaurant-detail-panel {
    height: 180px;
    max-width: 550px;
    top: -85px;
  }

  .restaurant-detail-panel-text p {
    font-size: 24px;
  }

  .restaurant-detail-content {
    margin-top: -40px;
    padding-left: 50px;
    padding-right: 40px;
  }

  .restaurant-detail-content-title {
    font-size: 24px;
  }

  .restaurant-detail-content-text {
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
  }

  .long-text {
    display: none;
  }

  .show-more {
    color: var(--primaryColor);
    font-weight: 600;
  }

  .restaurant-detail-content-menu {
    margin-bottom: var(--mainSpacing);
  }

  /* Footer */

  .footer-text {
    font-size: var(--mainSize);
  }
}

@media screen and (min-width: 800px){
  .restaurant-detail-panel {
    height: 180px;
    max-width: 700px;
    top: -85px;
  }
}